@mixin abstract-float() {
  --unitone--gap: var(--unitone--s1);
  --unitone--min-measure: calc(var(--unitone--measure) / 2);
  --unitone--min-width: calc(var(--unitone--measure) / 2);

  width: max(
    min(var(--unitone--min-width), 100%),
    min((var(--unitone--min-width) + var(--unitone--gap) + var(--unitone--min-measure) - 100%) * 999, 100%)
  );

  &[data-unitone-layout~="-left"],
  &:not([data-unitone-layout~="-right"]) {
    float: left;
    margin-right: var(--unitone--gap);
    margin-bottom: var(--unitone--gap);
  }

  &[data-unitone-layout~="-right"] {
    float: right;
    margin-left: var(--unitone--gap);
    margin-bottom: var(--unitone--gap);
  }
}

@mixin float() {
  [data-unitone-layout~="float"] {
    @include abstract-float();
  }
}
