@mixin abstract-switcher() {
  --unitone--gap: var(--unitone--global--gap);
  --unitone--threshold: var(--unitone--measure);

  display: flex;
  flex-wrap: wrap;
  gap: var(--unitone--gap);

  > * {
    flex-grow: 1;
    flex-basis: calc((var(--unitone--threshold) - 100%) * 999);
  }
}

@mixin switcher() {
  [data-unitone-layout~="switcher"] {
    @include abstract-switcher();
  }
}
