@mixin abstract-switcher() {
  --gap: var(--s1);
  --threshold: var(--measure);

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  > * {
    flex-basis: calc((var(--threshold) - 100%) * 999);
  }
}

@mixin switcher() {
  [data-layout~="switcher"] {
    @include abstract-switcher();
  }
}
