@mixin abstract-marquee-wrapper() {
  --unitone--animation-duration: 20s;
  --unitone--gap: var(--unitone--global--text-gap);
  --unitone--item-width: auto;

  display: flex;
  gap: var(--unitone--gap);
  overflow: clip;

  &[data-unitone-layout~="-reverse"] {
    > [data-unitone-layout~="marquee:initialized"] {
      animation-direction: reverse;
    }
  }

  @media (any-hover: hover) {
    &[data-unitone-layout~="-pause-on-hover"]:hover {
      > [data-unitone-layout~="marquee:initialized"] {
        animation-play-state: paused;
      }
    }
  }

  &[data-unitone-layout~="-pause-on-hover"]:focus-within {
    > [data-unitone-layout~="marquee:initialized"] {
      animation-play-state: paused;
    }
  }
}

@mixin abstract-marquee() {
  --unitone--marquee-travel: 0px;

  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  display: flex;
  gap: inherit;
  align-items: center;
  justify-content: start;
  flex-flow: row nowrap;

  &[data-unitone-layout~="marquee:initialized"] {
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: var(--unitone--animation-duration);
    animation-iteration-count: infinite;
  }

  > [data-unitone-marquee-boundary] {
    display: none !important;
  }

  > * {
    flex: 0 0 var(--unitone--item-width);
    max-width: var(--unitone--item-width);
    min-width: 0;
  }
}

@mixin marquee() {
  [data-unitone-layout~="marquee-wrapper"] {
    @include abstract-marquee-wrapper();
  }

  [data-unitone-layout~="marquee"] {
    @include abstract-marquee();
  }
}

@keyframes marquee {
    0% { translate: 0; }
  100% { translate: var(--unitone--marquee-travel, 0px); }
}

@keyframes marquee-reverse {
    0% { translate: var(--unitone--marquee-travel, 0px); }
  100% { translate: 0; }
}
