@mixin abstract-cluster() {
  --unitone--align-items: strech;
  --unitone--divider-width: 1px;
  --unitone--divider-style: solid;
  --unitone--divider-color: var(--unitone--color--light-gray);
  --unitone--gap: var(--unitone--s1);
  --unitone--justify-content: flex-start;

  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--unitone--gap) / 2) var(--unitone--gap);
  justify-content: var(--unitone--justify-content);
  align-items: var(--unitone--align-items);
  list-style: none;

  > * {
    margin: 0;
  }

  &[data-unitone-layout~="-divider\:stripe"] {
    column-gap: 0;

    > * {
      margin-right: calc(-1 * var(--unitone--divider-width));
      border-right: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);
      border-left: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);
      padding-right: var(--unitone--gap);
      padding-left: var(--unitone--gap);
    }
  }

  &[data-unitone-layout~="-divider\:slash"] {
    --unitone--divider-color: var(--unitone--color--gray);

    gap: calc(var(--unitone--gap) / 2) 0;

    > * {
      display: flex;
      padding-right: var(--unitone--gap);
      padding-left: var(--unitone--gap);
    }

    > :first-child {
      padding-left: 0;
    }

    > * + *::before {
      content: '';
      position: relative;
      right: var(--unitone--gap);
      border-left: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);
      transform: rotate(22.5deg) scale(.8);
    }
  }

  &[data-unitone-layout~="-divider\:bordered"] {
    gap: 0;

    > * {
      margin-top: calc(-1 * var(--unitone--divider-width));
      margin-right: calc(-1 * var(--unitone--divider-width));
      border: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);
      padding: calc(var(--unitone--gap) / 2) var(--unitone--gap);
    }
  }
}

@mixin cluster() {
  [data-unitone-layout~="cluster"] {
    @include abstract-cluster();
  }
}
