@use '../../variables/variables' as variables;

[data-layout~="container"] {
  --gutters: var(--s1);
  --max-width: min(100%, #{ variables.$container-max-width });

  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--gutters);
  padding-left: var(--gutters);
  max-width: var(--max-width);
}

@for $i from 0 through 4 {
  [data-layout~="container--gutters\:#{ $i }"] {
    --gutters: var(--s#{ $i });
  }
}
