@use '../../variables/variables' as variables;

@mixin abstract-container() {
  --gutters: var(--s1);
  --max-width: min(100%, #{ variables.$container-max-width });

  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--gutters);
  padding-left: var(--gutters);
  max-width: var(--max-width);

  &[data-layout~="-text"] {
    max-width: min(100%, var(--measure)) !important;
  }

  &[data-layout~="-align\:start"] {
    margin-left: 0;
  }

  &[data-layout~="-align\:center"] {
    margin-right: auto;
    margin-left: auto;
  }

  &[data-layout~="-align\:end"] {
    margin-right: 0;
  }
}

@mixin container() {
  [data-layout~="container"] {
    @include abstract-container();
  }
}
