[data-layout~="center"] {
  --max-width: min(var(--measure), 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: var(--max-width);
}
