@mixin abstract-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  &[data-unitone-layout~="-with-text"] {
    text-align: center;
  }
}

@mixin center() {
  [data-unitone-layout~="center"] {
    @include abstract-center();
  }
}
