@mixin abstract-decorator() {
  --unitone--background-color: transparent;
  --unitone--color: inherit;
  --unitone--border-color: transparent;
  --unitone--border-width: 0;
  --unitone--border-radius: 0;
  --unitone--padding: var(--unitone--s0);
  --unitone--box-shadow: none;
  --unitone--position: static;
  --unitone--top: initial;
  --unitone--right: initial;
  --unitone--bottom: initial;
  --unitone--left: initial;
  --unitone--z-index: initial;
  --unitone--overflow: visible;

  padding: calc((var(--unitone--padding) - var(--unitone--half-leading) * 1em)) var(--unitone--padding);
  border: var(--unitone--border-width) solid var(--unitone--border-color);
  border-radius: var(--unitone--border-radius);
  color: var(--unitone--color);
  background-color: var(--unitone--background-color);
  box-shadow: var(--unitone--box-shadow);
  position: var(--unitone--position);
  top: var(--unitone--top);
  right: var(--unitone--right);
  bottom: var(--unitone--bottom);
  left: var(--unitone--left);
  z-index: var(--unitone--z-index);
  overflow: var(--unitone--overflow);

  &[data-unitone-layout~="-shadow"] {
    --unitone--box-shadow: var(--unitone--global--box-shadow);
  }
}

@mixin decorator() {
  [data-unitone-layout~="decorator"] {
    @include abstract-decorator();
  }
}
