@mixin abstract-both-sides() {
  --unitone--gap: var(--unitone--s1);
  --unitone--align-items: flex-start;
  --unitone--content-width: fit-content;
  --unitone--content-max-width: var(--unitone--measure);

  display: flex;
  gap: var(--unitone--gap);
  flex-wrap: wrap;
  align-items: var(--unitone--align-items);
  justify-content: space-between;

  > * {
    flex-basis: var(--unitone--content-width);
    flex-grow: 0;
    max-width: min(100%, var(--unitone--content-max-width));
  }
}

@mixin both-sides() {
  [data-unitone-layout~="both-sides"] {
    @include abstract-both-sides();
  }
}
