@use '../../src/variables' as variables;

:is(html[class~=dark] body) {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 17, 17, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}

.preview-container * {
  @include variables.typography();

  button {
    cursor: pointer;
  }

  input[type="text"] {
    border: 1px solid var(--unitone--color--gray);
    width: 100%;
  }
}
