@use 'sass:list';
@use 'constant' as constant;

:root {
  /**
   * Column width in typography.
   */
  --measure: 38rem;

  /**
   * Collors.
   */
  --color-white: #fff;
  --color-black: #000;
  --color-text: #111;

  /**
   * Font size level.
   * It is not recommended to override this value with :root in order to have the size determined based on 0.
   */
  --font-size: 0;

  /**
   * Gutter provided above and below the text in a line.
   */
  --half-leading: .3;

  /**
   * Font family
   */
  --font-family: sans-serif;

  /**
   * Reference value of the modular scale for space.
   */
  --space-reference-value: #{ constant.$line-height } / 3;

  /**
   * Modular scales for spaces.
   */
  --s-2: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 1) });
  --s-1: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 2) });
  --s0: 0;
  --s1: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 3) });
  --s2: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 4) });
  --s3: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 5) });
  --s4: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 6) });
  --s5: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 7) });
  --s6: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 8) });
  --s7: calc(1em * var(--space-reference-value) * #{ list.nth(constant.$fibonacci-sequence, 9) });

  /**
   * Modular scales for spaces (% based).
   */
  --sp-2: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 1) });
  --sp-1: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 2) });
  --sp0: 0;
  --sp1: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 3) });
  --sp2: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 4) });
  --sp3: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 5) });
  --sp4: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 6) });
  --sp5: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 7) });
  --sp6: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 8) });
  --sp7: calc(1% * #{ list.nth(constant.$fibonacci-sequence, 9) });
}
