$harmonic-sequence-base: 8;
$font-size: calc(#{ $harmonic-sequence-base } * 1 / (#{ $harmonic-sequence-base } - var(--font-size)));
$space: calc(.4 + .6 / (1 + #{ $font-size } * #{ $font-size } / 3 - #{ $font-size } / 3) + var(--half-leading) * 2);

$fibonacci-sequence: 1, 2, 4, 7, 13, 24, 44, 81, 149, 274;
