$fibonacci-sequence: 1, 2, 3, 5, 8, 13, 21, 34, 55;

$min-breakpoint: 27; // = 432px
$max-breakpoint: 80; // = 1280px

$root-font-size: calc(var(--unitone--base-font-size) * 1px);

$_max-font-size: calc(var(--unitone--harmonic-sequence-base) / (var(--unitone--max-harmonic-sequence-base) - var(--unitone--font-size)));
$_min-font-size: calc(var(--unitone--harmonic-sequence-base) / (var(--unitone--min-harmonic-sequence-base) - var(--unitone--font-size)) + 1 - (var(--unitone--harmonic-sequence-base) / var(--unitone--min-harmonic-sequence-base)));
$_slope: calc((#{ $_max-font-size } - #{ $_min-font-size }) / (#{ $max-breakpoint - $min-breakpoint }));
$_intercept: calc(#{-1 * $min-breakpoint } * #{ $_slope } + #{ $_min-font-size });
$_preferred-font-size: calc((#{ $_intercept } * 1rem) + (#{ $_slope } * 100vw));
$_font-size-fluid: clamp(var(--unitone--fluid-typography-min-length, calc(1rem * #{ $_min-font-size })), #{ $_preferred-font-size }, var(--unitone--fluid-typography-max-length, calc(1rem * $_max-font-size)));

/**
 * The line-height slope. If smaller, the line-height is adjusted to a smaller value as the font size increases.
 *
 * A =(1, 1.6)  | 1rem, 1.6
 * B =(5, 1.15) | 5rem, 1.15
 * Line(A, B)   | y = -0.1125x + 1.7125 | y = line-height, x = Font size ratio
 *
 * @see https://www.geogebra.org/graphing?lang=ja
 */
$_max-line-height-target-font-size-ratio: 5;
$_font-size-scale: calc(var(--unitone--harmonic-sequence-base) / (var(--unitone--harmonic-sequence-base) - var(--unitone--font-size)));
$_line-height-slope: calc((var(--unitone--min-line-height) - var(--unitone--max-line-height)) / (var(--unitone--max-line-height-target-font-size-ratio, 5) - 1));
$_line-height-intercept: calc(var(--unitone--max-line-height) - #{ $_line-height-slope });
$_line-height: clamp(
  var(--unitone--min-line-height, calc(1 + 2 * min(var(--unitone--min-half-leading), var(--unitone--half-leading)))),
  #{ $_line-height-slope } * (var(--unitone--result--1em-px) / var(--unitone--base-font-size)) + #{ $_line-height-intercept },
  var(--unitone--max-line-height, calc(1 + 2 * var(--unitone--half-leading)))
);

$_line-height-for-firefox: clamp(
  var(--unitone--min-line-height, calc(1 + 2 * min(var(--unitone--min-half-leading), var(--unitone--half-leading)))),
  #{ $_line-height-slope } * #{ $_font-size-scale } + #{ $_line-height-intercept },
  var(--unitone--max-line-height, calc(1 + 2 * var(--unitone--half-leading)))
);

$_font-size: calc($_font-size-scale * 1rem);
$_font-size-em: calc($_font-size-scale * 1em);

@mixin typography {
  --unitone--font-size-rem: #{ $_font-size };
  --unitone--font-size-em: #{ $_font-size-em };
  --unitone--font-size-fluid: #{ $_font-size-fluid };

  --unitone--min-line-height: calc(1 + 2 * min(var(--unitone--min-half-leading), var(--unitone--half-leading)));
  --unitone--max-line-height: calc(1 + 2 * var(--unitone--half-leading));
  --unitone--line-height: #{ $_line-height };

  font-size: var(--unitone--font-size-rem);
  line-height: var(--unitone--line-height);

  // @todo In Firefox, using tan(atan2()) for line-height is considered invalid.
  // Therefore, a fallback line-height is applied.
  @supports (-moz-appearance: none) {
    line-height: #{ $_line-height-for-firefox }
  }
}

@mixin typography-em {
  font-size: var(--unitone--font-size-em);
}

@mixin fluid-typography {
  font-size:var(--unitone--font-size-fluid);
}

$container-max-width: $max-breakpoint * 16px; // = 1280px
$grid-columns: 12;
$grid-rows: 7;
