@mixin abstract-responsive-grid() {
  --unitone--auto-repeat: auto-fit;
  --unitone--column-min-width: 240px;
  --unitone--gap: var(--unitone--global--gap);
  --unitone--column-gap: var(--unitone--gap);
  --unitone--row-gap: var(--unitone--gap);

  display: grid;
  column-gap: var(--unitone--column-gap);
  row-gap: var(--unitone--row-gap);
  grid-template-columns: repeat(var(--unitone--auto-repeat), minmax(min(var(--unitone--column-min-width), 100%), 1fr));
  list-style: none;

  > * {
    margin: 0;
    min-width: 0;
  }

  &:where([data-unitone-layout*="-divider\:"]) {
    --unitone--divider-width: 1px;
    --unitone--divider-style: solid;
    --unitone--divider-color: var(--unitone--color--gray);
  }

  &[data-unitone-layout~="-divider\:stripe"] {
    row-gap: 0;

    > * {
      position: relative;
      padding-top: calc(var(--unitone--gap) + var(--unitone--divider-width));
      padding-bottom: calc(var(--unitone--gap) + var(--unitone--divider-width));

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: calc(var(--unitone--gap) * -1);
        border-width: var(--unitone--divider-width) 0;
        border-style: var(--unitone--divider-style);
        border-color: var(--unitone--divider-color);
      }
    }

    > [data-unitone-layout~="-bol"] {
      &::before {
        left: 0;
      }
    }

    > [data-unitone-layout~="-linewrap"] {
      padding-top: var(--unitone--column-gap);

      &::before {
        border-top-width: 0;
      }
    }
  }

  &[data-unitone-layout~="-divider\:underline"] {
    row-gap: 0;

    > * {
      position: relative;
      padding-top: 0;
      padding-bottom: calc(var(--unitone--gap) + var(--unitone--divider-width));

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: calc(var(--unitone--gap) * -1);
        border-width: 0 0 var(--unitone--divider-width) 0;
        border-style: var(--unitone--divider-style);
        border-color: var(--unitone--divider-color);
      }
    }

    > [data-unitone-layout~="-bol"] {
      &::before {
        left: 0;
      }
    }

    > [data-unitone-layout~="-linewrap"] {
      padding-top: var(--unitone--gap);
    }
  }

  &[data-unitone-layout~="-divider\:bordered"] {
    gap: 0;

    > * {
      position: relative;
      padding: calc(var(--unitone--row-gap) + var(--unitone--divider-width)) calc(var(--unitone--column-gap) + var(--unitone--divider-width));
      padding-left: var(--unitone--column-gap);

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        user-select: none;
        pointer-events: none;
        border-width: var(--unitone--divider-width) var(--unitone--divider-width) var(--unitone--divider-width) 0;
        border-style: var(--unitone--divider-style);
        border-color: var(--unitone--divider-color);
      }
    }

    > [data-unitone-layout~="-bol"] {
      padding-left: calc(var(--unitone--column-gap) + var(--unitone--divider-width));

      &::before {
        border-left-width: var(--unitone--divider-width);
      }
    }

    > [data-unitone-layout~="-linewrap"] {
      padding-top: var(--unitone--column-gap);

      &::before {
        border-top-width: 0;
      }
    }
  }

  &[data-unitone-layout*="-stairs\:"] {
    align-items: start;
    padding-bottom: calc(var(--unitone--stairs-step-overflow-volume, 0)* 1px);

    > * {
      position: relative;
    }

    &:where(:not([data-unitone-layout*="-stairs-up\:right"])) {
      > * {
        top: calc(var(--unitone--stairs-margin) * var(--unitone--stairs-step));
      }
    }

    &:where([data-unitone-layout*="-stairs-up\:right"]) {
      > * {
        top: calc(var(--unitone--stairs-margin) * (var(--unitone--max-stairs-step) - var(--unitone--stairs-step)));
      }
    }
  }
}

@mixin responsive-grid() {
  [data-unitone-layout~="responsive-grid"] {
    @include abstract-responsive-grid();
  }
}
