@mixin abstract-responsive-grid() {
  --unitone--auto-repeat: auto-fit;
  --unitone--column-min-width: 250px;
  --unitone--gap: var(--unitone--global--gap);

  display: grid;
  grid-gap: var(--unitone--gap);
  grid-template-columns: repeat(var(--unitone--auto-repeat), minmax(min(var(--unitone--column-min-width), 100%), 1fr));
}

@mixin responsive-grid() {
  [data-unitone-layout~="responsive-grid"] {
    @include abstract-responsive-grid();
  }
}
