[data-layout~="frame"] {
  --frame--ratio-width: 16;
  --frame--ratio-height: 9;

  position: relative;
  padding: calc(var(--frame--ratio-height) / var(--frame--ratio-width) * 100%) 0 0;

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  > img,
  > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
