[data-layout~="section"] {
  --background-color: transparent;
  // --color: var(--color-text); // Comment out if you don't want it to be inherited
  --padding: var(--s3);

  background-color: var(--background-color);
  color: var(--color);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

@for $i from 1 through 4 {
  [data-layout~="section--padding\:#{ $i }"] {
    --padding: var(--s#{ $i });
  }
}
