@mixin abstract-section() {
  --padding: clamp(var(--s3), var(--percentage3), var(--s4));

  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

@mixin section() {
  [data-layout~="section"] {
    @include abstract-section();
  }
}
