$_values: (
  auto: auto,
  normal: normal,
  start: start,
  end: end,
  center: center,
  stretch: stretch,
  baseline: baseline,
);

@mixin align-self() {
  @each $key, $value in $_values {
    [data-unitone-layout~="-align-self\:#{ $key }"] {
      --unitone--align-self: #{ $value } !important;
    }
  }

  [data-unitone-layout~="-align-self\:start"] {
    margin-top: 0;
  }

  [data-unitone-layout~="-align-self\:end"] {
    margin-bottom: 0;
  }
}
