@mixin align() {
  [data-layout~="-align\:start"] {
    margin-left: 0;
  }

  [data-layout~="-align\:center"] {
    margin-right: auto;
    margin-left: auto;
  }

  [data-layout~="-align\:end"] {
    margin-right: 0;
  }
}
