$_values: (
  auto: auto,
  normal: normal,
  start: start,
  end: end,
  center: center,
  stretch: stretch,
  baseline: 'last baseline',
);

@mixin align-items() {
  @each $key, $value in $_values {
    [data-unitone-layout~="-align-items\:#{ $key }"] {
      --unitone--align-items: #{ $value } !important;
    }
  }
}
