@mixin gutters() {
  @for $i from -2 through 7 {
    [data-unitone-layout~="-gutters\:#{ $i }"] {
      --unitone--gutters: var(--unitone--s#{ $i }) !important;
    }
  }

  [data-unitone-layout~="-gutters\:root"] {
    --unitone--gutters: var(--unitone--global--gutters);
  }
}
