@use 'align-content';
@use 'align-items';
@use 'align-self';
@use 'align';
@use 'auto-repeat';
@use 'auto-phrase';
@use 'background-clip';
@use 'gap';
@use 'gutters';
@use 'justify-content';
@use 'justify-items';
@use 'justify-self';
@use 'link-decoration';
@use 'mix-blend-mode';
@use 'negative-gap';
@use 'overflow';
@use 'padding';
@use 'position';
@use 'stairs';
@use 'text-orientation';
@use 'typography';

@include align-content.align-content();
@include align-items.align-items();
@include align-self.align-self();
@include align.align();
@include auto-repeat.auto-repeat();
@include auto-phrase.auto-phrase();
@include background-clip.background-clip();
@include gap.gap();
@include gutters.gutters();
@include justify-content.justify-content();
@include justify-items.justify-items();
@include justify-self.justify-self();
@include link-decoration.link-decoration();
@include mix-blend-mode.mix-blend-mode();
@include negative-gap.negative-gap();
@include overflow.overflow();
@include padding.padding();
@include stairs.stairs();
@include position.position();
@include text-orientation.text-orientation();
@include typography.typography();
