$_values: (
  start: start,
  center: safe center,
  end: end,
  stretch: stretch,
);

@mixin justify-items() {
  @each $key, $value in $_values {
    [data-unitone-layout~="-justify-items\:#{ $key }"] {
      --unitone--justify-items: #{ $value } !important;
    }
  }
}
