@mixin _aside() {
  flex-basis: var(--sidebar-width);
  flex-grow: 1;
  min-width: 1rem;
}

@mixin _main() {
  flex-basis: 0;
  flex-grow: 999;
  min-width: min(100%, var(--content-min-width));
}

@mixin abstract-with-sidebar() {
  --content-min-width: 50%;
  --gap: var(--s1);
  --align-items: flex-start;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: var(--align-items);

  &:not([data-layout~="-revert"])[data-layout~="-sidebar\:right"],
  &:not([data-layout~="-revert"]):not([data-layout~="-sidebar\:left"]),
  &[data-layout~="-revert"][data-layout~="-sidebar\:left"] {
    > :first-child {
      @include _main();
    }

    > :last-child {
      @include _aside();
    }
  }

  &:not([data-layout~="-revert"])[data-layout~="-sidebar\:left"],
  &[data-layout~="-revert"][data-layout~="-sidebar\:right"],
  &[data-layout~="-revert"]:not([data-layout~="-sidebar\:left"]) {
    > :first-child {
      @include _aside();
    }

    > :last-child {
      @include _main();
    }
  }

  &[data-layout~="-revert"] {
    flex-direction: row-reverse;
  }
}

@mixin with-sidebar() {
  [data-layout~="with-sidebar"] {
    @include abstract-with-sidebar();
  }
}
