@mixin _aside() {
  flex-basis: var(--unitone--sidebar-width);
  flex-grow: 1;
  min-width: 1rem;
}

@mixin _main() {
  flex-basis: 0;
  flex-grow: 999;
  min-width: min(100%, var(--unitone--content-min-width));
  max-width: min(100%, var(--unitone--content-max-width));
}

@mixin abstract-with-sidebar() {
  --unitone--sidebar-width: auto;
  --unitone--content-min-width: 50%;
  --unitone--content-max-width: 100%;
  --unitone--gap: var(--unitone--s1);
  --unitone--align-items: flex-start;

  display: flex;
  flex-wrap: wrap;
  gap: var(--unitone--gap);
  align-items: var(--unitone--align-items);

  &:not([data-unitone-layout~="-revert"])[data-unitone-layout~="-sidebar\:right"],
  &:not([data-unitone-layout~="-revert"]):not([data-unitone-layout~="-sidebar\:left"]),
  &[data-unitone-layout~="-revert"][data-unitone-layout~="-sidebar\:left"] {
    > :first-child {
      @include _main();
    }

    > :last-child {
      @include _aside();
    }
  }

  &:not([data-unitone-layout~="-revert"])[data-unitone-layout~="-sidebar\:left"],
  &[data-unitone-layout~="-revert"][data-unitone-layout~="-sidebar\:right"],
  &[data-unitone-layout~="-revert"]:not([data-unitone-layout~="-sidebar\:left"]) {
    > :first-child {
      @include _aside();
    }

    > :last-child {
      @include _main();
    }
  }

  &[data-unitone-layout~="-revert"] {
    flex-direction: row-reverse;
  }
}

@mixin with-sidebar() {
  [data-unitone-layout~="with-sidebar"] {
    @include abstract-with-sidebar();
  }
}
