[data-layout~="with-sidebar"] {
  --content-min-width: 50%;
  --gap: var(--s2);
  --sidebar-width: initial;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

@mixin _aside() {
  flex-basis: var(--sidebar-width);
  flex-grow: 1;
}

@mixin _main() {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--content-min-width);
}

[data-layout~="with-sidebar"][data-layout~="-right-sidebar"],
[data-layout~="with-sidebar"]:not([data-layout~="-left-sidebar"]) {
  > :first-child {
    @include _main();
  }

  > :last-child {
    @include _aside();
  }
}

[data-layout~="with-sidebar"][data-layout~="-left-sidebar"] {
  > :first-child {
    @include _aside();
  }

  > :last-child {
    @include _main();
  }
}
