[data-layout~="stack"] {
  --gap: var(--s1);

  display: grid;
  grid-template: max-content/1fr;
  gap: var(--gap);

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:only-child {
    height: 100%;
  }
}

:where([data-layout~="stack"] > *) {
  max-width: 100%;
}

@for $i from -2 through 4 {
  [data-layout~="stack--gap\:#{ $i }"] {
    --gap: var(--s#{ $i });
  }
}
