@mixin abstract-stack() {
  --gap: var(--s1);

  display: grid;
  grid-template: max-content/1fr;
  gap: var(--gap);

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:only-child {
    height: 100%;
  }
}

@mixin stack() {
  [data-layout~="stack"] {
    @include abstract-stack();
  }

  :where([data-layout~="stack"] > *) {
    max-width: 100%;
  }
}
