@mixin abstract-stack() {
  --gap: var(--s1);

  display: grid;
  gap: var(--gap);
  grid-template-columns: 100%;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:only-child {
    height: 100%;
  }
}

@mixin stack() {
  [data-layout~="stack"] {
    @include abstract-stack();
  }
}
