@use 'sass:list';
@use '../../variables/variables' as variables;

[data-layout~="cluster"] {
  --cluster--justify: flex-start;
  --cluster--align: flex-start;
  --cluster--gap: calc(var(--s0) / 2) var(--s0);

  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster--gap);
  justify-content: var(--cluster--justify);
  align-items: var(--cluster--align);
}

[data-layout~="cluster--align\:start"] {
  --cluster--align: flex-start;
}

[data-layout~="cluster--align\:center"] {
  --cluster--align: center;
}

[data-layout~="cluster--align\:end"] {
  --cluster--align: flex-end;
}

[data-layout~="cluster--justify\:start"] {
  --cluster--justify: flex-start;
}

[data-layout~="cluster--justify\:center"] {
  --cluster--justify: center;
}

[data-layout~="cluster--justify\:end"] {
  --cluster--justify: flex-end;
}

@for $i from 1 through list.length(variables.$fibonacci-sequence) {
  $slevel: $i - 2;

  [data-layout~="cluster--gap\:#{ $slevel }"] {
    --cluster--gap: var(--s#{ $slevel });
  }
}
