[data-layout~="cluster"] {
  --align-items: flex-start;
  --gap: calc(var(--s2) / 2) var(--s2);
  --justify-content: flex-start;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  list-style: none;

  > * {
    margin: 0;
  }
}

[data-layout~="cluster--align-items\:start"] {
  --align-items: flex-start;
}

[data-layout~="cluster--align-items\:center"] {
  --align-items: center;
}

[data-layout~="cluster--align-items\:end"] {
  --align-items: flex-end;
}

[data-layout~="cluster--justify-content\:start"] {
  --justify-content: flex-start;
}

[data-layout~="cluster--justify-content\:center"] {
  --justify-content: center;
}

[data-layout~="cluster--justify-content\:end"] {
  --justify-content: flex-end;
}

[data-layout~="cluster--justify-content\:space-between"] {
  --justify-content: space-between;
}

@for $i from -2 through 4 {
  [data-layout~="cluster--gap\:#{ $i }"] {
    --gap: var(--s#{ $i });
  }
}
