[data-layout~="cluster"] {
  --cluster--justify: flex-start;
  --cluster--align: flex-start;
  --cluster--gap: calc(var(--s1) / 2) var(--s1);

  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster--gap);
  justify-content: var(--cluster--justify);
  align-items: var(--cluster--align);
}

[data-layout~="cluster--align\:start"] {
  --cluster--align: flex-start;
}

[data-layout~="cluster--align\:center"] {
  --cluster--align: center;
}

[data-layout~="cluster--align\:end"] {
  --cluster--align: flex-end;
}

[data-layout~="cluster--justify\:start"] {
  --cluster--justify: flex-start;
}

[data-layout~="cluster--justify\:center"] {
  --cluster--justify: center;
}

[data-layout~="cluster--justify\:end"] {
  --cluster--justify: flex-end;
}

[data-layout~="cluster--justify\:space-between"] {
  --cluster--justify: space-between;
}

@for $i from -2 through 4 {
  [data-layout~="cluster--gap\:#{ $i }"] {
    --cluster--gap: var(--s#{ $i });
  }
}
