[data-layout~="responsive-grid"] {
  --column-min-width: 250px;
  --gap: var(2);

  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--column-min-width), 100%), 1fr));
}

@for $i from -2 through 4 {
  [data-layout~="responsive-grid--gap\:#{ $i }"] {
    --gap: var(--s#{ $i });
  }
}
