@mixin abstract-cover() {
  --gap: var(--s1);
  --min-height: 100vh;
  --justify-content: center;

  display: flex;
  flex-flow: column;
  gap: var(--gap);
  justify-content: var(--justify-content);
  min-height: var(--min-height);
  padding: var(--gap);
  overflow: hidden;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  &[data-layout~="-no-padding"] {
    padding: 0;
  }
}

@mixin abstract-cover__content() {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin cover() {
  [data-layout~="cover"] {
    @include abstract-cover();
  }

  [data-layout~="cover__content"] {
    @include abstract-cover__content();
  }
}
