[data-layout~="cover"] {
  --gap: var(--s2);
  --min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding: var(--gap);
  gap: var(--gap);
  min-height: var(--min-height);

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}

[data-layout~="cover__center"] {
  margin-top: auto;
  margin-bottom: auto;
}

[data-layout~="cover__bottom"] {
  margin-top: auto;
}

@for $i from -2 through 4 {
  [data-layout~="cover--gap\:#{ $i }"] {
    --gap: var(--s#{ $i });
  }
}
