@mixin abstract-frame() {
  --unitone--ratio: 16/9;

  img,
  video {
    width: 100%;
    object-fit: cover;
    aspect-ratio: var(--unitone--ratio);
    vertical-align: top;
  }

  @media (orientation: portrait) {
    &[data-unitone-layout~="-switch"] {
      img,
      video {
        aspect-ratio: calc(1 / (var(--unitone--ratio)));
      }
    }
  }
}

@mixin frame() {
  [data-unitone-layout~="frame"] {
    @include abstract-frame();
  }
}
