@mixin abstract-between() {
  --gap: var(--s1);
  --align-items: flex-start;
  --content-width: fit-content;
  --content-max-width: var(--measure);

  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  align-items: var(--align-items);
  justify-content: space-between;

  > * {
    flex-basis: var(--content-width);
    flex-grow: 0;
    max-width: min(100%, var(--content-max-width));
  }
}

@mixin between() {
  [data-layout~="between"] {
    @include abstract-between();
  }
}
