@mixin abstract-layers() {
  --gap: var(--s1);
  --columns: 12;

  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: max-content;
  gap: var(--gap);
  overflow: hidden;

  > * {
    --align-self: auto;
    --justify-self: auto;
    --grid-column: 1/-1;
    --grid-row: 1/-1;

    position: relative;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
    align-self: var(--align-self);
    justify-self: var(--justify-self);
  }

  &[data-layout~="-cover"] {
    > :first-child :where(img, video),
    > :first-child :where(picture, figure) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    > :first-child :where(img, video) {
      object-fit: cover;
      object-position: 50% 50%;
      height: 100%;
      width: 100%;
    }
  }
}

@mixin layers() {
  [data-layout~="layers"] {
    @include abstract-layers();
  }
}
