:where(body) {
  background-color: var(--unitone--color--background);
  color: var(--unitone--color--text);
  font-family: var(--unitone--font-family);

  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smooting: grayscale; // White out elements will activate this.
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  hanging-punctuation: allow-end;
  line-break: strict;
  overflow-wrap: anywhere;
  text-spacing-trim: trim-start;
}
