@use '../variables' as variables;

/**
 * Spacing tokens require a unitless real-number value of 100cqw,
 * so they cannot be defined at :root.
 */
@mixin fluid-reference() {
  [data-unitone-layout~="-fluid-reference\:cqw"] {

    /**
     * A value to get the unitless px value in trigonometric functions. (For Safari)
     */
    --unitone--property--100cqw: 100cqw;

    /**
     * 100cqw unitless px real value.
     */
    --unitone--result--100cqw-px: calc(tan(atan2(var(--unitone--property--100cqw), 1px)));

    --unitone--global--gutters: #{ variables.generate-global-gutters('container') };

    @include variables.font-size-tokens('container');
    @include variables.spacing-tokens('container');
    @include variables.padding-tokens('container');
  }
}
