@mixin overflow() {
  [data-unitone-layout~="-overflow\:visible"] {
    --unitone--overflow: visible !important;
  }

  [data-unitone-layout~="-overflow\:hidden"] {
    --unitone--overflow: hidden !important;
  }

  [data-unitone-layout~="-overflow\:scroll"] {
    --unitone--overflow: scroll !important;
  }

  [data-unitone-layout~="-overflow\:auto"] {
    --unitone--overflow: auto !important;
  }

  [data-unitone-layout~="-overflow\:clip"] {
    --unitone--overflow: clip !important;
  }
}
