@use '../../variables/variables' as variables;

@mixin abstract-text() {
  --max-width: min(100%, var(--measure));

  > * {
    margin: 0 auto;
  }

  > *:not(:first-child) {
    margin-top: calc(1em * #{ variables.$line-height } * var(--margin-top, 1));
  }

  > *:not(:last-child) {
    margin-bottom: calc(1em * #{ variables.$line-height } * var(--margin-bottom, 1));
  }

  > h1 {
    --font-size: 4;
  }

  > :is(h2, h3, h4, h5, h6) {
    --margin-bottom: 0;

    & + :is(h2, h3, h4, h5, h6) {
      --margin-top: .5;
    }
  }

  > h2 {
    --font-size: 3;
  }

  > h3 {
    --font-size: 2;
  }

  > h4 {
    --font-size: 1;
  }

  > h5 {
    --font-size: 0;

    & + * {
      --margin-top: .5;
    }
  }

  > h6 {
    --font-size: 0;

    & + * {
      --margin-top: .5;
    }
  }

  @at-root {
    :where(#{ & } > *) {
      max-width: var(--max-width);
    }

    :where(#{ & }[data-layout~="-center"]) > * {
      width: fit-content
    }
  }
}

@mixin text() {
  [data-layout~="text"] {
    @include abstract-text();
  }
}
