@use 'sass:list';
@use '../../variables/variables' as variables;

[data-layout~="box"] {
  --box--background-color: transparent;
  --box--color: var(--color-text);
  --box--border-color: transparent;
  --box--border-width: 0;
  --box--padding: var(--s0);

  padding: var(--box--padding) calc(var(--box--padding) + 1rem * var(--half-leading));
  border: var(--box--border-width) solid var(--box--border-color);
  color: var(--box--color);
  background-color: var(--box--background-color);

  * {
    color: inherit;
  }
}

@for $i from 1 through list.length(variables.$fibonacci-sequence) {
  $slevel: $i - 2;

  [data-layout~="box--padding\:#{ $slevel }"] {
    --box--padding: var(--s#{ $slevel });
  }
}
