[data-layout~="switcher"] {
  --switcher--gap: var(--s2);
  --switcher--threshold: var(--measure);

  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher--gap);

  > * {
    --switcher__item--grow: 1;

    flex-grow: var(--switcher__item--grow);
    flex-basis: calc((var(--switcher--threshold) - 100%) * 999);
  }
}

@for $i from -2 through 4 {
  [data-layout~="switcher--gap\:#{ $i }"] {
    --switcher--gap: var(--s#{ $i });
  }
}

@for $i from 3 through 5 {
  [data-layout~="switcher--limit\:#{ $i }"] > :nth-last-child(n + #{ $i }),
  [data-layout~="switcher--limit\:#{ $i }"] > :nth-last-child(n + #{ $i }) ~ * {
    flex-basis: 100%;
  }
}
