@mixin abstract-gutters() {
  --padding: clamp(var(--s3), var(--percentage3), var(--s4));

  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

@mixin gutters() {
  [data-layout~="gutters"] {
    @include abstract-gutters();
  }
}
