@mixin abstract-gutters() {
  --padding: var(--s4);

  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

@mixin gutters() {
  [data-layout~="gutters"] {
    @include abstract-gutters();
  }
}
