@use 'sass:list';
@use '../../variables/variables' as variables;

[data-layout~="stack"] {
  --stack--max-width: min(var(--measure), 100% - var(--s0));
  --stack--gap: var(--s0);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  > * {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }

  > * + * {
    margin-top: var(--stack--gap);
  }

  &:only-child {
    height: 100%;
  }
}

[data-layout~="stack--center"] > * {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--stack--max-width);
}

@for $i from 1 through list.length(variables.$fibonacci-sequence) {
  $slevel: $i - 2;

  [data-layout~="stack--gap\:#{ $slevel }"] {
    --stack--gap: var(--s#{ $slevel });
  }
}
