@use 'sass:list';
@use '../../variables/variables' as variables;

/**
 * @note If stack > stack, the gap of the parent stack will not be reflected correctly.
 */
[data-layout~="stack"] {
  --stack--max-width: min(var(--measure), 100% - var(--s1));
  --stack--gap: var(--s1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  > * {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }

  > * + * {
    margin-top: var(--stack--gap);
  }

  &:only-child {
    height: 100%;
  }
}

[data-layout~="stack--center"] > * {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--stack--max-width);
}

@for $i from -2 through 4 {
  [data-layout~="stack--gap\:#{ $i }"] {
    --stack--gap: var(--s#{ $i });
  }
}
