[data-layout~="float"] {
  --gap: var(--s2);
  --min-measure: calc(var(--measure) / 2);
  --min-width: calc(var(--measure) / 2);

  width: max(
    min(var(--min-width), 100%),
    min((var(--min-width) + var(--gap) + var(--min-measure) - 100%) * 999, 100%)
  );

  &:where([data-layout~="float--left"]),
  &:where(:not([data-layout~="float--right"])) {
    float: left;
    margin-right: var(--gap);
    margin-bottom: var(--gap);
  }

  &:where([data-layout~="float--right"]) {
    float: right;
    margin-left: var(--gap);
    margin-bottom: var(--gap);
  }
}
